<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper row">
            <div class="footer-col col-xs-12 col-sm-6 social-links">
                <h4>CONTACT</h4>

                {% for contact in site.footer.contact %}

                {% assign contact_icon_path = "/assets/img/icons/" | append: contact.name | downcase | append: ".png" |
                absolute_url %}

                <a href="{{ contact.link }}" id="{{ contact.name | downcase }}-link">
                    <img
                            src="{{ contact_icon_path }}"
                            alt="{{ contact.name | downcase }}"
                    />
                    {% if contact.value and contact.value != "" and contact.value != nil %}
                    {{ contact.value }}
                    {% else %}
                    {{ contact.name }}
                    {% endif %}
                </a>
                <br/>

                {% endfor %}
            </div>

            <div class="footer-col col-xs-12 col-sm-6 row social-links">
                <h4 class="col-xs-12">FOLLOW</h4>

                {% for follow in site.footer.follow %}
                <span class="wrap-link col-xs-12">

            {% assign follow_icon_path = "/assets/img/icons/" | append: follow.name | downcase | append: ".png" | absolute_url %}

            <a href="{{ follow.link }}" target="_blank">
                 <img
                         src="{{ follow_icon_path }}"
                         alt="{{ follow.name | downcase }}"
                 />
              {% if follow.value and follow.value != "" and follow.value != nil %}
                {{ follow.value }}
              {% else %}
                {{ follow.name }}
              {% endif %}
            </a>
          </span>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>
