<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNL4JWR"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="site-header">
    <div class="wrapper">
        <a class="site-title" title="Codebreak Station is inspired by Cinderella's song Heartbreak Station" href="{{ "" | prepend: site.baseurl | prepend: site.url }}/">
        <span style="padding: 3px">Codebreak</span>
        <img src="{{ "/assets/img/title.png" | absolute_url }}" alt="{{ site.title }}" />
        <span style="padding: 3px">Station</span>
        </a>

        <nav class="site-nav">
            <a href="#" class="menu-icon"></a>

            <div class="menu">
                {% for page in site.header.pages %}
                {% if page.slug and page.slug != "" and page.slug != nil %}
                {% assign page_link = page.slug %}
                {% else %}
                {% assign page_link = "/" | append: page.name | downcase %}
                {% endif %}
                {% assign page_link = page_link | absolute_url %}
                <a class="page-link" href="{{ page_link }}">
                    {{ page.name }}
                </a>
                {% endfor %}
            </div>
        </nav>
    </div>
</header>
