/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  padding-top: 10px;
  padding-bottom: 10px;

  @include media-query($on-mobile) {
    padding-top: 0;
    padding-bottom: 0;
  }

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;

  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

/**
 * Site nav
 */
.site-nav {
  z-index: 10;
  float: right;
  line-height: 56px;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
  }
}

.site-footer {
  border-top: 1px solid $grey-color-light;

  @include media-query($on-mobile) {
    padding-top: 10px;
  }
}


.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  margin-top: $spacing-unit / 2;
  color: $grey-color;
  font-weight: bold;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width: calc(50% - (#{$spacing-unit} / 2));
}

.powered-by {
  font-size: 13px;
  color: $grey-color;
}

@include media-query($on-mobile) {
  .footer-col {
    float: none;
    width: 100%;
  }
}

/**
 * Page content
 */
.page-content {
}

.page-heading {
  font-size: 20px;
}
