---
---

@charset "utf-8";

// Our variables
$base-url: "{{ site.baseurl }}";

$base-font-family: 'Roboto', sans-serif;
$base-line-height: 1.7;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #053886;

$grey-color: #d0d0d0;
$grey-color-light: lighten($grey-color, 15%);
$grey-color-dark: darken($grey-color, 10%);

$on-mobile: 0px;
$on-laptop: 1100px;
$boundary: 1100px;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: $boundary) {
    @content;
  }
}

@mixin non-mobile() {
  @media only screen and (min-width: $boundary) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "404";
