---
---

@charset "utf-8";

// Our variables
$base-url: "{{ site.baseurl }}";

$base-font-family: 'Roboto', sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #053886;

$grey-color: #d0d0d0;
$grey-color-light: lighten($grey-color, 15%);
$grey-color-dark: darken($grey-color, 10%);

$on-mobile: 500px;
$on-laptop: 800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "404";
