<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}

<div>
    <br/>
    {{ content }}
    <br/>
    <p class="blog-post-list">
        {% for post in site.posts %}

        {% if post.draft != true %}
        <span class="blog-post-date">{{ post.date | date: "%F" }}</span>
        <a href="{{ post.url | replace:" .html","" | prepend: site.baseurl }}" class="blog-post-title">
        {{ post.title }}
        </a>
        <br/>

        {% endif %}

        {% endfor %}
    </p>
    <br/>
</div>

{% include footer.html %}

{% include foot.html %}
</body>
</html>
